li {
  padding: 5px;
  margin: 5px;
  background: rgb(241, 207, 53);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(6, 131, 131);
}

.form-group {
  margin-bottom: 5px;
}

.jumbotron {
  margin: 45px 50px 10px 50px;
  background: #f6f6f6;
  text-align: center;
}

.card {
  margin: 45px;
  background: rgb(241, 207, 53);
}

body {
  background-color: red;
}